
html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5c5c5;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }
  

  h2 {
    padding: 16px;
  }

  .navbar {
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 200px;
    background-color: aliceblue;
    font-size: medium;
  }

  .navbar p {
    margin: 0;
    color: black;
    padding: 16px;
  }

  .content{
    margin-left: 200px;
    padding-left: 16px;
    width: auto;
  }
  
  .navbar p:hover{
    color: aliceblue;
    background-color: black;
  }

  .navbar h2:hover{
    color: aliceblue;
    background-color: black;
  }



  #table_div {
    table-layout: fixed;
    text-align: center;
  
    width: inherit;
    border: none
  }

  .table {
    border: none
  }

  .column_header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
    width: 100%;
    padding: 20px;

  }

  .column_names {
    border: none;
    padding: 10px;
  }
  
  td{
    padding: 10px;
    border: none
  }



